<div class="card">
  <h5 class="card-header">Angular Signup September 2020</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="firstName"
            title="First Name"
            [submitted]="submitted"
            [errors]="f.firstName.errors"
          >
          </app-input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="lastName"
            title="Last Name"
            [submitted]="submitted"
            [errors]="f.lastName.errors"
          >
          </app-input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="email"
            title="Email"
            [submitted]="submitted"
            [errors]="f.email.errors"
          >
          </app-input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <app-input
            formControlName="password"
            type="password"
            title="Password"
            [submitted]="submitted"
            [errors]="f.password.errors"
          >
          </app-input>
        </div>
      </div>
      <div class="text-center">
        <button id="register" [disabled]="loading" class="btn btn-primary mr-1 col">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
      </div>
      <div *ngIf="success" id="success" class="alert alert-success text-center" role="alert">
        Registered successfully
      </div>
      <div *ngIf="error" id="error" class="alert alert-danger text-center" role="alert">
        Registered error
      </div>
    </form>
  </div>
</div>
